# Exercise for variable definition and types

In [4]:
maxdistance=4
temperature=18.3
greet_ing="Alex"
isRainins=False

#1st_value -> value1
#Total$Amount -> total_amount
#calNum -> cal_num
#Data-Entry -> data_entry

#Convert and print 
int_a=45
flo_a=float(int_a)
type(flo_a)

float

In [6]:
pi=3.14159
int_pi=int(pi)

type(int_pi)

int

In [7]:
ex_float=99.99
ex_str=str(ex_float)

type(ex_str)

str

In [8]:
ex2_float=float(ex_str)

type(ex2_float)

float

# Exercise for operators

# Exercise using and manipulating Strings

In [45]:
#definition of strings
s1= 'Lord of the Rings is an excellent movie' 
s2= "Yes but Maria's favourite are the Star War's saga"
s3= """Which one? 
    the original tryology
    the precuel tryology 
    or the disney ones? """
print(s3)

Which one?
    the original tryology
    the precuel tryology
    or the disney ones?

In [29]:
#concatenation 
print(s1 + ". " + s2)

Lord of the Rings is and excellent movie. Yes but Maria's favourite are thw Star War's saga

In [33]:
#Old Style to include 15 space characters and then extract the first 4 characters of s1
print("%15.4s" % s1)

           Lord

In [36]:
#str.format()
name="Maria"
print("Hello, I'm {0}".format(name))

Hello, I'm Maria

In [37]:
#f-string 
s4 = "My name is {fname}, I'm {age}".format(fname = "Maria", age = 29)
s4

"My name is Maria, I'm 29"

In [71]:
s5=s2[s2.find("Star"):42]+"s"+s1[-22:24]+(s1[-15:].upper())
s5

'Star Wars is an EXCELLENT MOVIE'