# Python Fundamentals

We will review the basic workflow for python and upload or work on github

<!-- am lesson -->
## Sytax Overview 

Python is an *indentation sensitive* programming language. The indentention defines the scope of loops, functions and classes. We do this for consistency and in order to facilitate the reading and edition of our code. 

Coments made with # help us with brief notes or annotations, on parallel, multi-line comments """ """ are made through doctrings and used to document the purpouse of our code.

A code block is a set of instructions with indentation that continues until the code returns to the previous indentation level. on this we consider *if, loops, functions definitions, and class definitions*.

In [2]:
# THIS IS A COMMENT 

"""
Please note that this cell is set as Code and not as Raw or Markdown. TIP: use doctrings and comments to explain why, not how.
"""

# Code Block example
if True: 
    print("This statement is inside an if block")

print("This statement is out of the if block")

This statement is inside an if block
This statement is out of the if block

### Example: Python Syntax

Basic error on indentation and syntax and how to correct them.

In [6]:
if 10 > 5
print("Ten is greater than five :S")

SyntaxError: expected ':' (1303254633.py, line 1)

In [7]:
if 10 > 5: 
print("Ten is greater than five :S")

IndentationError: expected an indented block after 'if' statement on line 1 (4212159177.py, line 2)

In [8]:
if 10 > 5: 
    print("Ten is greater than five :S")

Ten is greater than five :S

In [11]:
if 10 > 12: 
    print("Ten is greater than the second number (contidion TRUE)")
else: 
    print("Ten is lower than the second number :D (condition FALSE)")

print("It's sunny")

Ten is lower than the second number :D (condition FALSE)
It's sunny

### Example: Function definition

We want to define a function that sums two parameters and return the result.

In [18]:
#function definition
def sum(a, b):
    result=a+b
    return result

#evaluate
sum(3,4)

7

In [19]:
#python is flexible enough to let us sum character strings
sum("Mike"," Cuchurrumin")

'Mike Cuchurrumin'

In [20]:
#but we cannot mix
sum("Mike", 7)

TypeError: can only concatenate str (not "int") to str

## Variables and data types 

We already saw on the examples numeric values and strings of characters. We can store this (and other) sort of data into variables.

In [21]:
#define a set of variables (this is equivalent to Exercise 1)
building1_name="Church"
building1_height=100

building2_name="Stadium"
building2_height=200

building3_name="Igloo"
building3_height=2

#call the variable 
building3_name

'Igloo'

Of course, we can do the same on a more efficient way defining a variable with several values, BUT we must be carefull to respect the data type implicitly defined within the variable. We can define
* Integers (numeric)
* Float (numeric)
* Strings
* Booleans

We can also convert and check the data types, for example if we have a string (character) wich are just a collection of numbers, we can change it to a numeric variable.

In [26]:
type(building3_name)

str

In [27]:
type(building3_height)

int

### Exercise 2: Naming conventions
Well defined on [PEP 8 â€“ Style Guide for Python Code](https://peps.python.org/pep-0008/)
* variables use only lower cases
* underscore are a propiate if we need to distinguish important features of the variable. Ex: *value_2* is best as *value2*; *NumberOfStudents* best as *number_of_students_123*

## Operators

On python we differentiate between Arithmetic, Assignment, Comparison and Logical Operators. 

### Arithmetic

The opertator **Modulus (%)** returns the remainder of **division (/)**

In [38]:
10 / 6

1.6666666666666667

In [39]:
10 % 6

4

In [32]:
#define a function which returns True if the number is even, False otherwise
def is_even(x): 
    result = x % 2
    if result==1:
        return False
    else: 
        return True

is_even(3)

False

In [33]:
is_even(4)

True

In [41]:
#alternative function which returns True if the number is even, False otherwise
def is_even2(x): 
    if x % 2 == 0:
        return True
    
    return False

print(is_even2(3))
print(is_even2(6))

False
True

In [42]:
#alternative function which returns True if the number is even, False otherwise
def is_even3(x): 
    return (x % 2 ==0)

print(is_even3(3))
print(is_even3(6))

False
True

For **exponentiations** we use **

In [45]:
print(2 ** 10)

print(2**(-3.5))

1024
0.08838834764831845

### Assignment operators

In [48]:
a = 10 # Assigns value from right side to left
b = 5 

# += Adds right operand to the left and assign the result 
a +=b # equivalent to "a=a+b"

a

15

### Comparison operators

In [50]:
a != b # im asking if a is different from b, wich is true as we defined above

True

### Logical operators 
These are: **and, or, not**. They are essential for control flows and complex operations

In [52]:
#remember a=15 and b=5
c=7
print(a > b)
print(b > c)

print(a>b and c>b)

True
False
True

## Strings and String Manipulation 

We can define string with "" or '' its important to have both since we can have a string that uses ' or " inside the text.

In [54]:
s = "My husband told me: 'we must go to the supermarket'"
s

"My husband told me: 'we must go to the supermarket'"

In [89]:
# we can also create a multiple line string 
s2 = """The shoping list is: 
    Bread 
    Eggs"""
s2

'The shoping list is: \n    Bread \n    Eggs'

We can perfom operations on our string, as concatenation +, slicing or replacling

In [63]:
# select the first 10 characters of the string s 
s[:10]

'My husband'

In [62]:
# select the last 20 characters of the string s 
s[-20:]

" to the supermarket'"

In [78]:
s3="123456789_ABCD-112233445566778899"

print(s3[2:6])

3456

In [77]:
print(s3[8:12:2]) #retrieves the nineth and the eleventh ignoring the tenth

9A

In [81]:
s3.find("_") #python counts from 0

9

In [84]:
s3.replace("_","/")

'123456789/ABCD-112233445566778899'

A very powerfull tool is defining the format of our strings.

In [88]:
name = "Angela"
print("Hello " + name)
print("Hello {name}!")
print(f"Hello {name}!")

Hello Angela
Hello {name}!
Hello Angela!

<!-- pm lesson  -->
## Data Structures
Values and variables are stored in structures like Lists, Tuples, Dictionaries and sets. 

### List
They are ordered, mutable collection of elements, the objects can be of different types. Created by **[]**

In [10]:
my_list=[1,2,3,'python',4.5]
print(type(my_list))
print(my_list[4]) #remember that python counts from 0

<class 'list'>
4.5

In [12]:
#moddify and add new elemet to the list
my_list[1] = 20
my_list.append(True)
print(my_list)

[1, 20, 3, 'python', 4.5, True]

In [13]:
#remove the element 3 from the list 
my_list.remove(my_list[2])
print(my_list)

[1, 20, 'python', 4.5, True]

### Tuples
Very similar to a list, we cannot modify after creation they are ideal for fixed data. Created by **()**

In [15]:
my_tuple=("banana", "apple", "Cherry")
print(type(my_tuple))
print(my_tuple[0])

<class 'tuple'>
banana

In [17]:
my_tuple[0]="orange"

TypeError: 'tuple' object does not support item assignment

### Dictionaries
They are unordered (I cannot retrieve the first element because it doesn't exist) mutable collection of key-value pairs. Created by **{k1: v1, ...}**.

* `keys()`: returns a list of keys
* `values()`: returns a list of values
* `items()`: returns a list of key-values tuples

In [20]:
my_dict={"name": "Maria", "age":29, "location": "Santiago"}
print(type(my_dict))

<class 'dict'>

In [19]:
print(my_dict[0]) #error because they are unordered

KeyError: 0

In [ ]:
print(my_dict["age"])

In [21]:
#add another element
my_dict["country"]= "Chile"
my_dict

{'name': 'Maria', 'age': 29, 'location': 'Santiago', 'country': 'Chile'}

In [25]:
# dictionaries are very flexible
my_dict["tuple"]=my_tuple
my_dict

{'name': 'Maria',
 'age': 29,
 'location': 'Santiago',
 'country': 'Chile',
 'tuple': ('banana', 'apple', 'Cherry')}

### Sets
Unordered, mutable collection of *unique* elements. Created by **{}**. A set automatically removes duplicates.

In [27]:
my_set={1,2,3,4,5,6,3}
print(type(my_set))
print(my_set) #it eliminates the duplicated 3

<class 'set'>
{1, 2, 3, 4, 5, 6}

In [28]:
# add an element
my_set.add(10)
print(my_set)
print(len(my_set))

{1, 2, 3, 4, 5, 6, 10}
7

## Control Flow Statements
Is the rder in which statements are executed. We regulate the control flow with conditional statemets and loops.

The most common conditional statements are **if, elif (else if)** or **else**, we also use logical conditions that evaluate true/false.

## Loops
A loop iterates a task, a *for* loop iterates over a sequence (list, tuple, string, etc)

In [37]:
# for loop 
for i in range(1, 6): 
    print("I'm in the iteration "+str(i))

I'm in the iteration 1
I'm in the iteration 2
I'm in the iteration 3
I'm in the iteration 4
I'm in the iteration 5

In [38]:
#iterate over a list 
my_list=[1,4,7,10, -5]

for i in my_list: 
    print("I'm retrieving the element "+str(i))

I'm retrieven the element 1
I'm retrieven the element 4
I'm retrieven the element 7
I'm retrieven the element 10
I'm retrieven the element -5

In [ ]:
#iterate over a tuple
my_tuple=(3, -2, "hello", True)

for i in my_tuple: 
    print(f"I'm retrieving the element {i}")

In contrast a *while loop* iterates the task until the specified condition is True

In [49]:
#set initial counter
counter=0

while counter<6:
    print(f"I'm starting the iterarion {counter}")
    counter += 1
    if counter == 4:
        break
    print(f"Closing in order to start the iterarion {counter}")

print(f"Final counter is {counter}")

I'm starting the iterarion 0
Closing in order to start the iterarion 1
I'm starting the iterarion 1
Closing in order to start the iterarion 2
I'm starting the iterarion 2
Closing in order to start the iterarion 3
I'm starting the iterarion 3
Final counter is 4

As **break** we can also control the flow of the loop with **continue** or **pass**.

We must take care to specify conditions that will eventually become restrictive, aka **avoid infinite loops**

## Error Handling
Errors are managed by a special class of objects called *exceptions* we can use this class to prevent the user of the code we wrote. 
The most common errors are: *SytaxError, NameError, TypeError, IndexError, KeyError and ValueError*

In [51]:
try : 
    x = 3 / 0

except ZeroDivisionError as e: 
    print(e)

division by zero

In [52]:
try: 
    x=10+"abc"
except TypeError as e: 
    print(f"The following error occured: {e}")

The following error occured: unsupported operand type(s) for +: 'int' and 'str'

In [53]:
# we can manage a generic error
try:
    my_list=[1,2,3,4,5]
    print(my_list[10])
except Exception as e: 
    print(f"The following error type has happened: {e}")

The following error type has happened: list index out of range