# Python Fundamentals

We will review the basic workflow for python and upload or work on github

## Sytax Overview 

Python is an *indentation sensitive* programming language. The indentention defines the scope of loops, functions and classes. We do this for consistency and in order to facilitate the reading and edition of our code. 

Coments made with # help us with brief notes or annotations, on parallel, multi-line comments """ """ are made through doctrings and used to document the purpouse of our code.

A code block is a set of instructions with indentation that continues until the code returns to the previous indentation level. on this we consider *if, loops, functions definitions, and class definitions*.

In [2]:
# THIS IS A COMMENT 

"""
Please note that this cell is set as Code and not as Raw or Markdown. TIP: use doctrings and comments to explain why, not how.
"""

# Code Block example
if True: 
    print("This statement is inside an if block")

print("This statement is out of the if block")

This statement is inside an if block
This statement is out of the if block

### Example: Python Syntax

Basic error on indentation and syntax and how to correct them.

In [6]:
if 10 > 5
print("Ten is greater than five :S")

SyntaxError: expected ':' (1303254633.py, line 1)

In [7]:
if 10 > 5: 
print("Ten is greater than five :S")

IndentationError: expected an indented block after 'if' statement on line 1 (4212159177.py, line 2)

In [8]:
if 10 > 5: 
    print("Ten is greater than five :S")

Ten is greater than five :S

In [11]:
if 10 > 12: 
    print("Ten is greater than the second number (contidion TRUE)")
else: 
    print("Ten is lower than the second number :D (condition FALSE)")

print("It's sunny")

Ten is lower than the second number :D (condition FALSE)
It's sunny

### Example: Function definition

We want to define a function that sums two parameters and return the result.

In [18]:
#function definition
def sum(a, b):
    result=a+b
    return result

#evaluate
sum(3,4)

7

In [19]:
#python is flexible enough to let us sum character strings
sum("Mike"," Cuchurrumin")

'Mike Cuchurrumin'

In [20]:
#but we cannot mix
sum("Mike", 7)

TypeError: can only concatenate str (not "int") to str

## Variables and data types 

We already saw on the examples numeric values and strings of characters. We can store this (and other) sort of data into variables.

In [21]:
#define a set of variables (this is equivalent to Exercise 1)
building1_name="Church"
building1_height=100

building2_name="Stadium"
building2_height=200

building3_name="Igloo"
building3_height=2

#call the variable 
building3_name

'Igloo'

Of course, we can do the same on a more efficient way defining a variable with several values, BUT we must be carefull to respect the data type implicitly defined within the variable. We can define
* Integers (numeric)
* Float (numeric)
* Strings
* Booleans

We can also convert and check the data types, for example if we have a string (character) wich are just a collection of numbers, we can change it to a numeric variable.

In [26]:
type(building3_name)

str

In [27]:
type(building3_height)

int

### Exercise 2: Naming conventions
Well defined on [PEP 8 â€“ Style Guide for Python Code](https://peps.python.org/pep-0008/)
* variables use only lower cases
* underscore are a propiate if we need to distinguish important features of the variable. Ex: *value_2* is best as *value2*; *NumberOfStudents* best as *number_of_students_123*

## Operators

On python we differentiate between Arithmetic, Assignment, Comparison and Logical Operators. 

### Arithmetic

The opertator **Modulus (%)** returns the remainder of **division (/)**

In [38]:
10 / 6

1.6666666666666667

In [39]:
10 % 6

4

In [32]:
#define a function which returns True if the number is even, False otherwise
def is_even(x): 
    result = x % 2
    if result==1:
        return False
    else: 
        return True

is_even(3)

False

In [33]:
is_even(4)

True

In [41]:
#alternative function which returns True if the number is even, False otherwise
def is_even2(x): 
    if x % 2 == 0:
        return True
    
    return False

print(is_even2(3))
print(is_even2(6))

False
True

In [42]:
#alternative function which returns True if the number is even, False otherwise
def is_even3(x): 
    return (x % 2 ==0)

print(is_even3(3))
print(is_even3(6))

False
True

For **exponentiations** we use **

In [45]:
print(2 ** 10)

print(2**(-3.5))

1024
0.08838834764831845

### Assignment operators

In [48]:
a = 10 # Assigns value from right side to left
b = 5 

# += Adds right operand to the left and assign the result 
a +=b # equivalent to "a=a+b"

a

15

### Comparison operators

In [50]:
a != b # im asking if a is different from b, wich is true as we defined above

True

### Logical operators 
These are: **and, or, not**. They are essential for control flows and complex operations

In [52]:
#remember a=15 and b=5
c=7
print(a > b)
print(b > c)

print(a>b and c>b)

True
False
True

## Strings and String Manipulation 

We can define string with "" or '' its important to have both since we can have a string that uses ' or " inside the text.

In [54]:
s = "My husband told me: 'we must go to the supermarket'"
s

"My husband told me: 'we must go to the supermarket'"

In [89]:
# we can also create a multiple line string 
s2 = """The shoping list is: 
    Bread 
    Eggs"""
s2

'The shoping list is: \n    Bread \n    Eggs'

We can perfom operations on our string, as concatenation +, slicing or replacling

In [63]:
# select the first 10 characters of the string s 
s[:10]

'My husband'

In [62]:
# select the last 20 characters of the string s 
s[-20:]

" to the supermarket'"

In [78]:
s3="123456789_ABCD-112233445566778899"

print(s3[2:6])

3456

In [77]:
print(s3[8:12:2]) #retrieves the nineth and the eleventh ignoring the tenth

9A

In [81]:
s3.find("_") #python counts from 0

9

In [84]:
s3.replace("_","/")

'123456789/ABCD-112233445566778899'

A very powerfull tool is defining the format of our strings.

In [88]:
name = "Angela"
print("Hello " + name)
print("Hello {name}!")
print(f"Hello {name}!")

Hello Angela
Hello {name}!
Hello Angela!

## Data Structures

### List

### Tuples

### Disctionaries

### Sets

## Control Flow Statements

## Loops

## Error Handling