# Exercise for variable definition and types

In [4]:
maxdistance=4
temperature=18.3
greet_ing="Alex"
isRainins=False

#1st_value -> value1
#Total$Amount -> total_amount
#calNum -> cal_num
#Data-Entry -> data_entry

#Convert and print 
int_a=45
flo_a=float(int_a)
type(flo_a)

float

In [6]:
pi=3.14159
int_pi=int(pi)

type(int_pi)

int

In [7]:
ex_float=99.99
ex_str=str(ex_float)

type(ex_str)

str

In [8]:
ex2_float=float(ex_str)

type(ex2_float)

float

# Exercise for operators

# Exercise using and manipulating Strings

In [4]:
#definition of strings
s1= 'Lord of the Rings is an excellent movie' 
s2= "Yes but Maria's favourite are the Star War's saga"
s3= """Which one? 
    the original tryology
    the precuel tryology 
    or the disney ones? """
print(s3)

Which one?
    the original tryology
    the precuel tryology
    or the disney ones?

In [5]:
#concatenation 
print(s1 + ". " + s2)

Lord of the Rings is an excellent movie. Yes but Maria's favourite are the Star War's saga

In [6]:
#Old Style to include 15 space characters and then extract the first 4 characters of s1
print("%15.4s" % s1)

           Lord

In [7]:
#str.format()
name="Maria"
print("Hello, I'm {0}".format(name))

Hello, I'm Maria

In [8]:
#f-string 
s4 = "My name is {fname}, I'm {age}".format(fname = "Maria", age = 29)
s4

"My name is Maria, I'm 29"

In [9]:
s5=s2[s2.find("Star"):42]+"s"+s1[-22:24]+(s1[-15:].upper())
s5

'Star Wars is an EXCELLENT MOVIE'

# Exercise for Data Structures in Python

## Lists

In [16]:
#definition of list
my_list=[1,2,3,'python',4.5]
print(type(my_list))
print("Sample from my_list:", my_list[4], ";",  my_list[2])

<class 'list'>
Sample from my_list: 4.5 ; 3

In [17]:
#moddify and add new elemet to the list
my_list[1] = 20
my_list.append(True)
print(my_list)

[1, 20, 3, 'python', 4.5, True]

In [18]:
#remove the element 3 from the list 
my_list.remove(my_list[2])
print(my_list)

[1, 20, 'python', 4.5, True]

## Tuples

In [19]:
my_tuple=("banana", "apple", "Cherry")
print(type(my_tuple))
print(my_tuple[0])

<class 'tuple'>
banana

## Dictionaries

In [33]:
my_dict={"name": "Maria", "age":29, "location": "Santiago"}
print(type(my_dict))

<class 'dict'>

In [34]:
#add another element
my_dict["country"]= "Chile"
my_dict

{'name': 'Maria', 'age': 29, 'location': 'Santiago', 'country': 'Chile'}

In [35]:
# dictionaries are very flexible
my_dict["tuple"]=my_tuple
my_dict

{'name': 'Maria',
 'age': 29,
 'location': 'Santiago',
 'country': 'Chile',
 'tuple': ('banana', 'apple', 'Cherry')}

## Sets

In [ ]:
my_set={1,2,3,4,5,6,3}
print(type(my_set))
print(my_set) #it eliminates the duplicated 3

In [ ]:
# add an element
my_set.add(10)
print(my_set)
print(len(my_set))

# Control flow

## Loops

In [67]:
# 2: exploring while loops 
x=10 

while x>1:
    print(f"I'm starting with {x}")
    x = x/2
    if x>1: 
        print(f"Now I have {x}, starting next iteration")
    else: 
        print(f"Loop terminated on {x}")

I'm starting with 10
Now I have 5.0, starting next iteration
I'm starting with 5.0
Now I have 2.5, starting next iteration
I'm starting with 2.5
Now I have 1.25, starting next iteration
I'm starting with 1.25
Loop terminated on 0.625

In [73]:
# 3: Loop control mastery
nam = [1,2,3,4,5,6,7,8,9,10]
print(f"Sequence 'nam' starts with {nam[0]} and ends on {nam[9]}")

for i in nam:
    print(f"I'm starting the iteration {i}")
    if i == 5:
        break
print(f"Loop terminated on {i}")

Sequence 'nam' starts with 1 and ends on 10
I'm starting the iteration 1
I'm starting the iteration 2
I'm starting the iteration 3
I'm starting the iteration 4
I'm starting the iteration 5
Loop terminated on 5

In [71]:
#4 : Nested Loop
for i in range (3): #loop for 3 rows
    for j in range(5): #inner loop for 5 columns 
        print("*", end="")
    print()

*****
*****
*****

# Error handling in Python